@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-white bg-white;
  
}

.wave-header {
  @apply bg-primary;
  position: relative;
  height: 73vh;
  width: 100%;
  z-index: 0;
}

.cloud {
  position: absolute;
  top: 20px;
  left: 20px;
}

.wave {
  color: #7480ff;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
  z-index: -1;
}

.input_exchange {
  @apply text-black bg-white border-[1px] rounded-xl py-3 px-5;
}

.country_item {
  @apply flex items-center gap-2;
}
